@import "https://fonts.googleapis.com/css?family=Open+Sans";

body {
  background: #181818;
  /* background: whitesmoke; */
  color: #F7F9F9;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 300;
}

.title {
  margin-bottom: 25px;
  color: #AEB6BF;
  font-size: 18px;
}
.title span {
  color: #5DADE2;
}
.content {
  width: 640px;
  margin:  45px auto;
}

imgage {
  max-width: 100%;
  height: auto;
  margin: 45px auto;
  cursor: zoom-out;
}

.tabs-header {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.tabs-body {
  /* short-hand border: 5px double red */
  border-style: double;
  border-width: 5px;
  border-color: grey;
  margin: 25px 25px;
  }

  /* Handles the Tabsheader and horizontal scroll */

  .tabs-header {
    background-color: #333;
    overflow: #333;
    white-space: nowrap;
  }

  .tabs-header > a {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: table-cell;
  text-align: center;
  color: #ECF0F1;
  cursor: pointer;
  }

  .next:before {
    content: '\232a';
  }

  .prev:before {
    content: '\2329';
  }

  #tabs-header-text {
    
  }

  .tabs-header a:hover {
    background-color: #777;
  }

/* .tabs-header {

  display: table;
  width: 92%;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
} */

/* .tabs-header li {
  display: table-cell;
  text-align: center;
  color: #ECF0F1;
  cursor: pointer;
}

.tabs-header a {
  display: block;
  padding: 15px;
  background: #212F3D;
  transition: all .2s ease-in;
  transform: skew(-40deg);
}
.tabs-header a span {
  display: block; 
  transform: skew(40deg);
}
.tabs-header a:hover {
  background: #2471A3;
  color: #F7F9F9;
}
*/
.tabs-header a.active {
  background: #2471A3;
}

.tabs-content {
  margin-top: 15px;
  position: relative;
  padding: 20px 25px;
  overflow: hidden;
  background: #000;
}
.tabs-content .tabs-textItem {
  display: none;
  transform: translateY(100%);
}
.tabs-content .tabs-textItem.show {
  display: block;
  transform: translateY(0);
  animation: change .49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tabs-content .tabs-textItem p {
  font: normal 15px/1.5 'Open Sans';
  color: #F2F3F4;
}
.tabs-content .tabs-textItem .image-item {
  cursor: pointer;
  width: max-content;
} 
img {
  cursor: zoom-in;
  max-width: 80%;
  height: auto;
}

/* @keyframes change {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Image Modal Section */
#myImg {
  border-radius: 5px;
  cursor: zoom-in;
  transition: 0.3s;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);  /* Fallback color */
  background-color: white;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  max-width: 100%;
  cursor: zoom-out;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0);}
  to {-webkit-transform:scale(1);}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}